<h1>Edit Recipe</h1>

<!--Form to edit existing recipe-->
<form action="/recipes/{{recipe.id}}/edit" method="POST">
  <label for="title">Title:</label><br />
  <input
    type="text"
    id="title"
    name="title"
    value="{{recipe.title}}"
    required
  /><br /><br />

<!--Category dropdown-->
  <label for="category_id">Category:</label><br />
  <select id="category_id" name="category_id" required>
    {{#each categories}}
    <option value="{{this.id}}" {{#if (eq this.id ../recipe.category_id)}}selected{{/if}}>
    {{{this.name}}}
    </option>
    {{/each}}
  </select><br /><br />

  <label for="ingredients">Ingredients:</label><br />
  <textarea
    id="ingredients"
    name="ingredients"
    required
  >{{recipe.ingredients}}</textarea><br /><br />

  <label for="intreuctions">Instructions:</label><br />
  <textarea
    id="instreuctions"
    name="instreuctions"
    required
  >{{recipe.instreuctions}}</textarea>

  <button type="submit" class="btn">Save Changes</button>
</form>