<h1>{{recipe.title}}</h1>

<div class="recipe-detail">
  <p><strong>Ingredients:</strong></p>
  <p>{{recipe.ingredients}}</p>

  <p><strong>Instructions:</strong></p>
  <p>{{recipe.instreuctions}}</p>

  <div class="recipe-actions">
    <a href="/recipes" class="btn back-btn">â† Back to All Recipes</a>
    <a href="/recipes/{{recipe.id}}/edit" class="btn edit-btn">Edit</a>
    <form
      action="/recipes/{{recipe.id}}/delete"
      method="POST"
      class="recipe-form"
    >
      <button type="submit" class="btn delete-btn">Delete</button>
    </form>
  </div>

</div>