<!--All recipes view-->
<h1>{{title}}</h1>

<ul>
  <!--Info to each recipe-->
  {{#each recipes}}
    <li>
      <h2>{{this.title}}</h2>
      <p><strong>Category:</strong> {{this.category_name}}</p>
      <p><strong>Ingredients:</strong> {{this.ingredients}}</p>
      <p><strong>Instructions:</strong> {{this.instreuctions}}</p>
      <a href="/recipes/{{this.id}}" class="btn view-btn">View Recipe</a>
    </li>
  {{/each}}

<!--Pages at the end of the page-->
<!--Shows previous if you have a page before the one you're in-->
<!--shows next if there's a page after this page-->
  {{#if recipes.length}}
    <div class="pagination">
      {{#if (gt currentPage 1)}}
        <a href="/recipes?page={{decrement currentPage}}" class="page-btn">←
          Previous</a>
      {{/if}}

      {{#each pages}}
      {{#if (eq this ../currentPage)}}
      <span class="page-btn-active">{{this}}</span>
      {{else}}
      <a href="/recipes?page={{this}}" class="page-btn">{{this}}</a>
      {{/if}}
      {{/each}}

      {{#if (lt currentPage totalPages)}}
        <a href="/recipes?page={{increment currentPage}}" class="page-btn">Next
          →</a>
      {{/if}}
    </div>
  {{/if}}
</ul>