<h1>{{title}}</h1>

<ul>
  {{#each recipes}}
    <li>
      <h2>{{this.title}}</h2>
      <p><strong>Ingredients:</strong> {{this.ingredients}}</p>
      <p><strong>Instructions:</strong> {{this.instreuctions}}</p>
      <a href="/recipes/{{this.id}}" class="btn btn-primary">View Recipe</a>
    </li>
  {{/each}}
</ul>