<!--Single recipe view-->
<h1>{{recipe.title}}</h1>

<div class="recipe-detail">
  <!--if the recipe haves category, show. If not show uncategorized-->
  {{#if recipe.category_name}}
    <p><strong>Category:</strong> {{recipe.category_name}}</p>
  {{else}}
    <p><strong>Category:</strong>Uncategorized</p>
  {{/if}}
  <p><strong>Ingredients:</strong>{{recipe.ingredients}}</p>
  <p><strong>Instructions:</strong>{{recipe.instreuctions}}</p>

  <!--Edit and go back button -->
  <div class="recipe-actions">
    <a href="/recipes" class="btn back-btn">← Back to All Recipes</a>
    <a href="/recipes/{{recipe.id}}/edit" class="btn edit-btn">Edit</a>

    <!--Delete button and modal -->
    <button
      type="button"
      class="btn delete-btn"
      id="openDeleteModal"
    >Delete</button>

    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <h2>Are you sure?</h2>
        <p>This will permanently delete the recipe.</p>
        <div class="modal-actions">
          <form action="/recipes/{{recipe.id}}/delete" method="POST">
            <button type="submit" class="btn confirm-btn">Yes</button>
          </form>
          <button
            type="button"
            class="btn cancel-btn"
            id="cancelDelete"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>